/* Default styling for laptops/desktops */
html {
  font-family: "Noto Sans", sans-serif;
  background-color: azure;
}

.title-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #3b7df0;
}
a:hover {
  color: #f59a17;
}

.splash {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.splash img {
  max-width: 100%;
  border-radius: 8px;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
#mission p {
  text-align: center;
  margin-bottom: 4rem;
}
#fish {
  max-width: 90%;
  margin: 0 auto;
}
.fish-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-fish {
  height: 300px;
  width: 300px;
  margin-bottom: 6rem;
}

.single-fish img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
}
.single-fish p {
  text-align: center;
  margin-bottom: 4rem;
}

#team {
  max-width: 80%;
  margin: 0 auto;
}
.team-member {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 2rem;
}
.team-member img {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  object-fit: cover;
}
.member-info {
  max-width: 80%;
}
.footer {
  opacity: 0.5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-shadow: 1px 1px 2px black;
  max-width: 90%;
  text-align: center;
  background-color: #20738d;
  color: azure;
  border-radius: 8px;
  margin: 0 auto;
}
.footer a {
  color: azure;
}
.footer a:hover {
  color: #f59a17;
}
.footer p {
  line-height: 0.5rem;
}

/* Phones */
@media only screen and (max-width: 650px) {
  header {
    margin: 0 auto;
  }

  #mission p {
    text-align: center;
    margin-bottom: 1rem;
  }

  .fish-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .single-fish {
    height: 300px;
    width: 300px;
    margin-bottom: 4rem;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .team-member img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    object-fit: cover;
  }
  .member-info {
    margin: 0 auto;
    max-width: 100%;
  }
}

/* Tablets */
@media only screen and (min-width: 651px) and (max-width: 1280px) {
  .fish-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
